<pre>
anon.hmm.st is a special ship. By sending email to anonhmmst@cosmic.voyage, you
can post a log to anon.hmm.st. The subject is used as a title, and the body is
used as the text of the log.

You can use it for cases where such an anonymous posting site would be wanted.
The ship that inspired this one's creation, anon.penet.fi, for example, was
used to leak a character's PGP private key in Voortrekker's story.

<a href="/var/wiki/index.html">Home</a>
</pre>
