<pre>
Dotfiles are files or directories on *nix systems which filesystem 
utilities do not display by default when showing a directory 
listing.

To list these files, run: ls -a

On cosmic.voyage there are several dotfiles that you may want to 
customize

1. ~/.plan & ~/.project

These files are displayed when someone checks your account with the 
`finger` command. Create these files with the editor of your choice 
inside your HOME directory. The .plan file should contain a few 
lines with general information about you or your account. The 
.project file should only contain one line, generally contains 
information about your short-term goals. You can create either or 
both of these files, if both exist the .project file should be 
output above the .plan file when somebody runs `finger username@cosmic.voyage`


2. ~/ship/ship_name/.description

This file provides a description for your ship/colony/output where 
you can introduce your story or provide more information as you see 
fit.

3. .profile / .bashrc

These files change the way your shell runs, you can change your 
default text editor by adding a line like:

  export EDITOR=vim

to change your default text editor from jed to vim, or you can 
create aliases as shortcuts to your favorite commands with lines 
like:

  alias ll='ls -oFhA'

this one will list the contents of a directory, append a character 
to indicate the files type, and print the file size in a 
human-readable format. There's tons of options that can be tweaked 
in here.

4. other config files

.muttrc & .pinerc files can be written to customize the mutt and 
alpine email clients respectively.

.signature file will be used by some email apps to be appended as a 
signature on outgoing messages.

.vim & .vimrc is a directory of configurations and a single 
configuration file to customize the way the vim text editor works.

.pronouns is a file where you can define your preferred pronouns. 
These will show when someone looks you up using the 'finger' command.

<a href="/var/wiki/index.html">Home</a>
</pre>
