<pre>
FREQUENTLY ASKED QUESTIONS:

1. How do I make a new ship/colony/outpost?

   Users can run the "ship" command to create a new ship. The command will
   interactively prompt for necessary information.

2. How do I log a message from my ship?

   Users can create messages for their ships in their ship folders. The ship
   folder is located in your home directory &gt; ships &gt; ship-name:

     ~/ships/Rocinante/

   First, change to that directory:

     cd ~/ships/Rocinante/

   Then edit a new message to be logged. The file must end in .txt. You can use
   one of the many editors on the system. If you don't have a favorite editor,
   'nano' is recommended.

     nano my-first-post.txt

   Now, edit your message in nano, styling it however you want. Remember to add
   line breaks no wider than 80 columns wide (67 works best on gopher) so that
   your message will format properly on all the systems that view it. When you
   are ready, save and quit the editor.

   Now you're ready to log the message. Do so by running the 'log' command.

     log

   NOTE: did 'log' not work for you? are you using zsh? See below.

   You will be presented with your ship name and each message that has not
   already been logged to the QEC. If you want to share the message on the QEC,
   press the "y" key when prompted. You do not need to press enter.

   Next you will be prompted for a title for your message. Keep it short, but
   use whatever style fits your story. This is what will show up in the listing.

   When you're done, press enter. If you have any other messages that are not
   published you will be prompted for each one. Once all is processed your 
   message will be logged to the QEC.

3. "log" doesn't work (and I'm using zsh).

   The zsh shell has a builtin function named log that can interfere with our
   system 'log' command. You can either invoke the command with the full path:

     /usr/local/bin/log

   use the 'sendlog' command instead (it's the same thing),
   or add an alias to your .zshrc file:

   alias log='/usr/local/bin/log'

<a href="/var/wiki/index.html">Home</a>
</pre>
