<pre>
 _. _  __._ _ * _.   .  , _   . _. _  _
(_.(_)_) [ | )|(_. *  \/ (_)\_|(_](_](/,
                            ._|   ._|

SYSTEM WIKI

- <a href="wiki.html">How to Edit this Wiki</a>
- <a href="faq.html">Frequently Asked Questions</a>
- <a href="rules.html">The Rules</a>
- <a href="text-editors.html">Available Text Editors</a>
- <a href="dotfiles.html">Dotfiles and customization</a>
- <a href="you-have-mail.html">"You have mail." - login message won't go away</a>
- <a href="unison.html">The unison program - synchronizing files</a>
- <a href="license.html">Copyright and Licensing</a>
- <a href="changelog.html">System Changelog</a>
</pre>
