<pre>
Authors maintain all rights to their works created and shared on Cosmic Voyage.
By participating on this system you grant Cosmic Voyage permission for
perpetual and non-retractable usage on this system and any anthologies built
from its materials as long as those materials are offered free of charge.

Authors who wish to further license their works can display their choice
in license by creating a file named LICENSE in their ship directory. If no
LICENSE file is defined, "All Rights Reserved" will be shown to readers.

Ship creation will interactively prompt users if they would like to define
a license.

Users who have already finished ship creation and would like to change or
add a licence can manually add a file named LICENSE in their ship
directory. These files can contain any license of the users choosing.
A list of available licenses can be found on the <a
href="https://spdx.org/licenses/">SPDX</a> website. 

The first line of the LICENSE file is used for display as the link to the
license on gopher and on the web. You may find it helpful to add
a human-readable simple description of the license to line #1.

<a href="/var/wiki/index.html">Home</a>
</pre>
