<pre>
THE RULES OF COSMIC.VOYAGE

1. Don't break into other storylines without asking first.

   Cosmic Voyage is a very big shared universe that allows everyone to tell
   their story in their own way. Some authors will enjoy engaging with others
   and inviting interaction. Others will find it annoying. Just ask first.
   You can find the author of a ship by using the 'roster' command.

2. Don't intentionally try to break the system.

3. Don't blow up Earth unless you want everyone in your story to have a goatee.

   Most of our stories begin on the Earth and describe some reason for leaving
   the planet. If you blow up the Earth in your story then it breaks other
   backstories. Therefore, your ship has been confirmed to come from another
   reality. If you're from another reality, all your people have goatees. It's
   just a thing.

<a href="/var/wiki/index.html">Home</a>
</pre>
