<pre>
aoeui - <a href="https://code.google.com/archive/p/aoeui/">learn more</a>
dav - <a href="http://dav-text.sourceforge.net/">learn more</a>
e3 - <a href="http://manpages.ubuntu.com/manpages/bionic/man1/e3.1.html">learn more</a>
ecce - <a href="http://ecce.sourceforge.net/manual.html">learn more</a>
ed - <a href="https://en.wikipedia.org/wiki/Ed_(text_editor)">learn more</a>
edlin - <a href="https://sourceforge.net/projects/freedos-edlin/">learn more</a>
efte - <a href="https://github.com/lanurmi/efte">learn more</a>
elvis - <a href="http://elvis.the-little-red-haired-girl.org/">learn more</a>
emacs - <a href="https://www.gnu.org/software/emacs/">learn more</a>
fte - <a href="http://fte.sourceforge.net/">learn more</a>
helix - <a href="https://helix-editor.com/">learn more</a>
jed - (system default) <a href="https://www.jedsoft.org/jed/">learn more</a>
jmacs - emacs clone using joe
joe - <a href="https://joe-editor.sourceforge.io/">learn more</a>
jpico - Pico clone using joe
jstar - Wordstar clone using joe
kakoune - <a href="https://kakoune.org/">learn more</a>
lpe - <a href="http://texteditors.org/cgi-bin/wiki.pl?LPE">learn more</a>
mg - <a href="https://github.com/troglobit/mg">learn more</a>
micro - <a href="https://micro-editor.github.io/">learn more</a>
moe - <a href="https://www.gnu.org/software/moe/">learn more</a>
mp-5 - <a href="https://triptico.com/software/mp.html">learn more</a>
nano - <a href="https://www.nano-editor.org/">learn more</a>
ne - <a href="http://ne.di.unimi.it/">learn more</a>
neovim - <a href="https://neovim.io/">learn more</a>
nvi - <a href="https://docstore.mik.ua/orelly/unix3/vi/ch09_01.htm">learn more</a>
rjoe - <a href="https://joe-editor.sourceforge.io/">learn more</a>
rmate - (remote TextMate 2) <a href="https://github.com/aurora/rmate">learn more</a>
sam - (backend only) <a href="https://github.com/deadpixi/sam">learn more</a>
se - <a href="http://se-editor.org/index.html">learn more</a>
te - (from teco) <a href="https://almy.us/teco.html">learn more</a>
the - (the hessling editor) <a href="http://hessling-editor.sourceforge.net/">learn more</a>
tilde - <a href="https://os.ghalkes.nl/tilde/">learn more</a>
vim - <a href="https://www.vim.org">learn more</a>
vis - <a href="https://github.com/martanne/vis">learn more</a>
wordgrinder - <a href="http://cowlark.com/wordgrinder/index.html">learn more</a>
zile - <a href="https://www.gnu.org/software/zile/">learn more</a>

<a href="/var/wiki/index.html">Home</a>
</pre>
