<pre>
Unison is a tool that allows for the synchronization of files across servers
that also have it installed. It is like rsync but works both ways.
<p>
<b>All</b> options for this tool are included in a file stored in the .unison 
folder in your home directory, called a profile. For connecting to a different 
server, a private key for that server is required in order to connect. To set 
that up, sshpref is the option to set to the value: 
'-i .ssh/<name of private key> '.
</p><p>
To set an option the syntax is: option_name = value
</p><p>
Even if you don't have a server to connect to, unison is great for merging 
directories. Even on/to a Windows box.
Instead of following the common practice of using double hyphens for long 
flags on the comand line, a single hyphen is used for all flags. For cosmic
in particular, if you were synchronising your ships folder with your personal
machine, say, if you wanted to work on your stories without a connection to
cosmic.voyage, the option 'follow' should be in the profile with each ship in 
your ships folder named so that unison will synchronise them.
</p>
For your personal machine, there is a graphical interface availiable as 
'unison-gtk' in APT, and that could very well be in other packaging systems as 
well.
However, it is best if the profiles are edited manually as the user interface
does not do the best job of doing it for you.
<p>
If you want to install the version of unison that can connect to this server,
get the .deb file from the focal foosa ubuntu package search website.
If you have an account on breadpunk.club, unison can synchronize 
directories betwen your account here and your account there.
</pre>
