<pre>
How to edit this wiki:

All users on cosmic have access to edit the files of this wiki. They can be
found at /var/wiki/. The files are owned by the 'users' group and should be
group writable. A script will run on a cron to ensure that remains the case,
just in case.

$ cd /var/wiki

You can edit the files in any editor of your choice. The contents are HTML
files, but we are using them explicitly for command-line output. This means
you can skip all the formatting and wrap the entire file in &lt;pre&gt; tags.
Anchor links work like normal, but you will want to use relative paths or
absolute ones from /var/wiki.

$ nano wiki.html

There's no pre-determined layout to this wiki. Just try to keep your lines
limited to 80 columns for readability. Please edit and add content that you
will find useful. New users can be directed here for guides and
recommendations.

To see your changes, hit ctrl-R while viewing the wiki via the 'wiki' command.

<a href="/var/wiki/index.html">Home</a>
</pre>
