<pre>
If you see the message "You have mail." at startup, but do not actually have
any mail waiting for you, you most likely have some mail remnant left-over by
your mail program from an earlier session.

That message comes when the system checks:

  /var/spool/mail/$USER  # $USER is your username

You can check the contents yourself by using cat(1):

  cat /var/spool/mail/$USER

If the only thing you see is a system message saying something to the effect of
"this is a default file, don't delete", then you CAN actually delete it to
clear the message, like so:

  rm /var/spool/mail/$USER

If you see anything else in the spool file then you really do have new mail.
Open up your favorite mail program (e.g., alpine, mutt) and read it!

<a href="/var/wiki/index.html">Home</a>
</pre>

